@tailwind base;

.offset-anchor {
  border-top: 90px solid transparent;
  margin: -90px 0 0;
  background-clip: padding-box;
}

@media (min-width: 640px) {
  .offset-anchor {
    border-top: 105px solid transparent;
    margin: -105px 0 0;
  }
}

@media (min-width: 768px) {
  .offset-anchor {
    border-top: 140px solid transparent;
    margin: -140px 0 0;
  }
}

@media (min-width: 1280px) {
  .offset-anchor {
    border-top: 170px solid transparent;
    margin: -170px 0 0;
  }
}

.hover-up {
  transform: translateY(0);
}

.hover-up:hover {
  transform: translateY(-1px);
}

@tailwind components;
@tailwind utilities;